{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "DATA_MODE": "mock",
    "COSMOS_ENDPOINT": "",
    "COSMOS_DATABASE_NAME": "AzureUpdatesDB",
    "COSMOS_CONTAINER_NAME": "Updates"
  },
  "Host": {
    "CORS": "*",
    "LocalHttpPort": 7071
  }
}
